/* Generic top-level elements */
html, body {
   height: 100%;
   min-height: 100%;
   font-family: Helvetica, Arial, sans-serif;
   margin: 0;
   padding: 0;
}

/* Layout top-level elements */
h1 {
   font-size: 14px;
   line-height: 1em;
   min-width: 99%;
   max-width: 100%;
   max-height: 5%;
   margin: 0;
   padding: 5px;
   background-color: #FF9933;
}

ol#chatlog {
   margin:0;
   height: 75%;
   min-height: 75%;
   max-height: 75%;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0 3px;
}

form#chatbox {
   height: 75px;
   min-height: 75px;
   width: 100%;
   min-width: 100%;
   position: fixed;
   bottom: 0;
}

form#login {
   width: 300px;
   margin: 20% auto 0;
}

/* Timeline styles */
ol#chatlog li {
   margin: 0;
   border-bottom: 1px solid #d8d8d8;
   list-style-type: none;
   padding: 3px;
   float: left;
   min-width: 99%;
   max-width: 100%;
   width: 100%;
   clear: both;
   font-size: 14px;
}

ol#chatlog li span.timestamp {
   float:right;
   color: #999;
   font-size: 10px;
   margin: 0 3px;
}

ol#chatlog li span.name {
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #ddd;
   font-size: 12px;
   padding: 1px 6px;
   margin-right: 10px;
}

ol#chatlog li img {
   float: left;
   padding: 1px;
   margin: 0 3px 0 0;
   border: 1px solid #eee;
}

ol#chatlog li.me {
   background-color: #cfc;
   border-bottom: 1px solid #696;
}

ol#chatlog li.me span.name {
   color: white;
   background-color: #060;
}

ol#chatlog li.me span.timestamp {
   color: #696;
}

/* Generic form elements */
form ol {
   list-style-type: none;
   padding: 0;
}

form ol li {
   padding: 0;
   margin-bottom: 0.5em;
}

fieldset {
   border: none;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   background-color: #FF9933;
}

fieldset legend {
   background-color: #cdd;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   padding: 2px 5px;
}

label {
   display: block;
   font-size: 80%;
   font-weight: bold;
}

label + input {
   font-size: 18px;
}

input#message {
   width: 99%;
   max-width: 100%;
}